* {
    box-sizing: border-box;
}
.section {
    display: flex;
    flex-direction: row;
    background-color: #F3F6F9;
}
/* nav*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-transform: capitalize;
    background-color: #F3F6F9;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

nav #dash {
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 3px;
}

/*side bar*/
aside {
    padding: 30px;
    text-transform: capitalize;
    font-size: 1.2rem;
    width: 20%;
    background-color: #F3F6F9;
}

aside img {
    width: 90px;
    height: 90px;
    padding-right: 10px;
    border-radius: 50%;
}

aside .profile {
    display: flex;
    flex-direction: row;
}

aside ul {
    list-style: none;
    margin-left: -40px;
    line-height: 3;
}

aside li {
    padding-left: 10px;
}

aside li:hover {
    background-color: white;
    color: #009cff;
    border-left: 3px solid #009cff;
    cursor: pointer;
}

/* first section */
.welcome-page {
    width: 100%;
    padding: 20px;
    background-color: #fff;
}

.welcome-page > .btns {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.welcome-page .container .row .world {
    background-color: #F3F6F9;
    padding: 20px;
    border-radius: 6px;
}

.welcome-page .custom-btn {
    background-color: #f3f6f9;
    border-color: #f3f6f9; 
    padding: 20px;
    color: #6c757d;
    font-weight: 500;
    font-size: 2rem;
}

.welcome-page .custom-btn:hover {
    background-color: #fff;
    color: #009cff;
    border-top: 4px solid #009cff;
    border-radius: 4px;
}

.welcome-page .cards {
    padding: 10px;
    text-transform: capitalize;
}

.world {
    margin-right: 20px; 
}

.world:last-child {
    margin-right: 0; 
}

.world .text {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

/*footer*/
footer {
    padding: 10px;
    text-align: center;
    margin-top: 10px;
}

/*login*/
.login {
    margin: auto;
    width: 450px;
    padding: 20px;
    text-transform: capitalize;
    position: relative;
    top: 150px;
}

.login .bg-light {
    background-color: #fff !important;
    padding: 30px;
    height: 300px;
    border-radius: 10px;
}

.bg-light .btn-empas {
    margin-top: 10px;
    margin-bottom: 10px;
}

.bg-light input {
    border: 1px solid #ced4da;
    padding: 20px;
    border-radius: 4px;

}
.login  .col-h5 h5 {
    color: #009cff;
    font-weight: 600;
    font-size: 2rem;
}

.login .col-p p {
    color: #000;
    font-weight: 600;
    font-size: 1rem;
    position: relative;
    left: 80px;
    top: 8px;
}

/*user page*/
.welcome-page .user-btn {
    background-color: white;
    color: #009cff;
    border-top: #009cff solid 4px;
    border-radius: 4px;
}
